@use "../base/_breakpoints";

.button {
  cursor: pointer;
  line-height: 1;
  font-size: var(--btn-font-size);
  border-radius: var(--btn-border-radius);
  font-weight: 600;
  color: white;

  padding: 18px 32px;
  margin: 6px 0;
  text-align: center;
  max-width: 100%;

  &:hover {
    opacity: 0.9;
    transition: opacity 0.3s;
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  @media (max-width: breakpoints.$md) {
    width: 100%;
  }
}

.button-primary {
  background-color: var(--primary-color);
}

.button-secondary {
  background-color: var(--text-secondary);
}
