.header {
  position: relative;
  z-index: 50;
  padding: var(--header-padding) 0;
  background: var(--header-bg);
  box-shadow: 0 4px 20px 0 rgba(217, 217, 217, 0.25);

  &__btns-wrap {
    display: flex;
    gap: 20px;
  }
}

.logo {
  width: 60px;
  @media (min-width: 769px) {
    width: 110px;
    height: auto;
  }
}

.link-dropdown {
  &:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-left: 14px;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.25L7 6.75L12.5 1.25' stroke='%2300634B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  --padding-link: 5px;
  --nav-gap: calc(72px - var(--padding-link) * 2);
  display: flex;
  column-gap: var(--nav-gap);
  row-gap: 10px;
}

.nav-menu__link {
  padding: var(--padding-link);
  text-transform: capitalize;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
  color: var(--primary-color);
  filter: brightness(0);
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(100%);
  }
}

.nav-menu__item {
  position: relative;

  @media (min-width: 1201px) {
    &:focus-within .dropdown-menu {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(0);
    }
  }
}

.dropdown-menu {
  li {
    a {
      padding: 10px 24px;
    }
  }

  border-radius: 8px;
  padding: 12px 0;
  transform: translateY(10px);
  transition:
    opacity 0.2s,
    transform 0.2s,
    visibility 0.2s;

  @media (min-width: 1201px) {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  }
}
