@use "../base/_breakpoints";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  letter-spacing: 0.02em;

  /* header */
  --header-h: 50px;
  --header-padding: 18px;
  @media (min-width: breakpoints.$lg) {
    --header-h: 60px;
  }
}

.hidden {
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  background: none;
}

ul li {
  list-style: none;
}

.list {
  margin-bottom: 20px;
}

.list li {
  &::before {
    content: "•";
    color: var(--primary-color);
    margin-right: 10px;
  }
}

.container {
  --container-padding: 20px;
  max-width: 1480px;
  padding: 0 var(--container-padding);
  margin: auto;
}

.section {
  --pad-top: 136px;

  padding-top: var(--pad-top);
  padding-bottom: calc(var(--pad-top) * 1.4);
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.title-wrap {
  margin-bottom: 76px;
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: var(--text-secondary);
}

select {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  fill: currentColor;
  font-size: 24px;
}
