.br {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.br-md {
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.br-lg {
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}
