@use "../base/_breakpoints";

@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(assets/font/Inter/Inter-VariableFont_opsz,wght.ttf);
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  text-wrap: balance;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
  letter-spacing: 0.04em;

  font-size: 38px;
  @media (min-width: breakpoints.$lg) {
    font-size: 64px;
  }
}

h2 {
  line-height: 110%;
  margin-bottom: 32px;
  letter-spacing: 0.03em;
  font-size: 24px;
}

p {
  margin-bottom: 36px;
  line-height: 144%;
}

p,
a {
  font-size: 16px;
  @media (min-width: breakpoints.$lg) {
    font-size: 18px;
  }
}

.tdu {
  text-decoration: underline;
}
