@use "../base/_breakpoints";

.align-items-center {
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: var(--gap, 20px);
}

.grid-2 {
  @media (min-width: breakpoints.$md) {
    grid-template-columns: 1fr 1fr;
  }
}
