@charset "UTF-8";
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-100: #fefdfc;
  --gray-400: #9a9a9a;
  --gray-500: #646464;
  --gray-600: #4e4e4e;
  --green: #00634b;
  --bg-color: var(--gray-100);
  --text-color: var(--black-color);
  --border-color: var(--gray-400);
  --primary-color: var(--green);
  --text-secondary: var(--gray-500);
  --header-bg: var(--white-color);
  --border-radius: 4px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
  /* input */
  --input-border-color: var(--border-color);
  --input-focus-border-color: var(--primary-color);
  --input-border-radius: var(--border-radius);
  /* buttons */
  --btn-border-radius: var(--border-radius-md);
  --btn-font-size: 18px;
  --btn-font-weight: 600;
  --btn-primary-bg-color: var(--green);
  --btn-primary-text-color: var(--white-color);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  /* header */
  --header-h: 50px;
  --header-padding: 10px;
}
@media (min-width: 992px) {
  body {
    --header-h: 70px;
  }
}

.hidden {
  overflow: hidden;
}

section:first-child {
  padding-top: calc(var(--header-h) + 50px);
}
@media (min-width: 992px) {
  section:first-child {
    padding-top: calc(var(--header-h) + 60px);
  }
}

button {
  outline: none;
  border: none;
}

ul li {
  list-style: none;
}

.list {
  margin-bottom: 20px;
}

.list li::before {
  content: "•";
  color: var(--primary-color);
  margin-right: 10px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.container {
  --container-padding: 20px;
  max-width: 1480px;
  padding: 0 var(--container-padding);
  margin: auto;
}

.section {
  --pad-top: 60px;
  padding-top: var(--pad-top);
  padding-bottom: calc(var(--pad-top) * 1.4);
}

.mw-100 {
  max-width: 100%;
}

.mw-50 {
  max-width: 49%;
}

.mw-600 {
  max-width: 600px;
}

.mw-800 {
  max-width: 800px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-24 {
  margin-top: 24px;
}

p {
  margin-bottom: 12px;
}

.title-wrap {
  margin-bottom: calc(var(--pad-top) * 0.5);
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--text-secondary);
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
}

h1,
h2 {
  text-wrap: balance;
}

@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(assets/font/Inter/Inter-VariableFont_opsz,wght.ttf);
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
}

h1,
.h1 {
  line-height: 120%;
  margin-bottom: 20px;
  font-size: 38px;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 64px;
  }
}

h2,
.h2 {
  line-height: 110%;
  margin-bottom: 20px;
  font-size: 26px;
}
@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 24px;
  }
}

p,
a {
  font-size: 16px;
}
@media (min-width: 768px) {
  p,
  a {
    font-size: 18px;
  }
}

.fw-600 {
  font-weight: 600;
}

.align-items-center {
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: var(--gap, 20px);
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.img-fill {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.br {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.br-md {
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.br-lg {
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.button {
  cursor: pointer;
  line-height: 1;
  font-size: var(--btn-font-size);
  border-radius: var(--btn-border-radius);
  font-weight: var(--btn-font-weight);
  padding: 17px 50px;
  text-align: center;
  max-width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}
.button:hover {
  box-shadow: 0 4px 30px 0 rgba(32, 32, 32, 0.25);
}
.button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}

.button-primary {
  background-color: var(--btn-primary-bg-color);
  color: var(--btn-primary-text-color);
}

.header {
  padding: var(--header-padding) 0;
  background: var(--header-bg);
}

.logo {
  height: calc(var(--header-h) - 2 * var(--header-padding));
}
@media (min-width: 769px) {
  .logo {
    width: 60px;
    height: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  --padding-link: 5px;
  display: flex;
  gap: calc(30px - 2 * var(--padding-link));
}

.nav-menu__link {
  padding: var(--padding-link);
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.nav-menu__link:hover {
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__input {
  padding: 15px 16px;
  font-family: "Inter";
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  border-width: 1px;
}
.form__input:focus {
  border-color: var(--input-focus-border-color);
}

.burger {
  --burger-color: var(--primary-color);
  cursor: pointer;
  transform: translateY(-2px);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}
.burger::before,
.burger::after {
  content: "";
  width: 24px;
  height: 2px;
  background: var(--burger-color);
  display: block;
  margin: 5px 0;
  transition: all 0.2s;
}

.burger.burger-rotate .burger-span {
  opacity: 0;
}

.burger.burger-rotate::before {
  transform: translateY(9px) rotate(45deg);
}

.burger.burger-rotate::after {
  transform: translateY(-9px) rotate(-45deg);
}

.burger-span {
  width: 24px;
  height: 2px;
  background: var(--burger-color);
}

@media (max-width: 768px) {
  .header__nav-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    padding: var(--container-padding);
    overflow: auto;
    position: fixed;
    top: calc(var(--header-h) - 2px);
    left: 0;
    width: 100%;
    height: calc(100dvh - var(--header-h) + 4px);
    background: var(--header-bg);
    z-index: 40;
    flex-direction: column;
    align-items: center;
  }
  .header__nav-menu.nav-hidden {
    opacity: 1;
    visibility: visible;
  }
}/*# sourceMappingURL=style.css.map */